@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');
$primary_font: 'Noto Serif', serif;
$seconday_font: 'Noto Sans', sans-serif;

html,body{
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizeLegibility !important;
  	background: #ffffff;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	max-width: 100%;
  	font-family:$primary_font;
  	font-size: 1em;
    font-weight: normal;
  }

  body{
    max-width: 1680px;
  }

#nav-bar{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#back{
  position: fixed;
  left: 5%;
}

#menu{
  position: fixed;
  right: 5%;
  opacity: 0.5;
}

#up{
  position: fixed;
bottom: 15%;
left: 5%;
}

#work-content{
  width: 70%;
margin: 0 auto;
z-index: 2;
}

#work-title{
  font-size: 2.250em;
}

#d-brief{
  font-size: 1.250em;
  p{
    font-style: italic;
    line-height: 1.9em;
  }
  span{
    font-style: normal;
  }
}

.mid-headings{
  font-size: 1.500em;
}

.text-content{
  font-size: 1.125em;
  line-height: 1.7em;
}

.center-photo{
  padding: 1em;
  text-align: center;
  margin: 0 auto;
}

.bold {font-weight: bold;}

footer{
  padding: 1em;
background: red;
width: 100%;
bottom: 0;
z-index: 10;
position: fixed;
background-color: white;

h3{
  position: relative;
  left: 5%;
  display: inline-block;
}

ul{
  left: 50%;
      position: absolute;
      display: inline-block;
      list-style: none;
    li{
      display: inline-block;
      margin-right: 3vw;
      font-size: 1.125em;
    }
}
}
