@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif:400,400i");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-next:before {
  font-family: 'icomoon' !important;
  content: "\e900"; }

.slick-prev:before {
  content: "\e901";
  font-family: 'icomoon' !important; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  background: #ffffff;
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Serif", serif;
  font-size: 1em;
  font-weight: normal; }

#nav-bar {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1; }

#back {
  position: fixed;
  left: 5%;
  height: 2em; }

#menu {
  position: fixed;
  right: 5%;
  opacity: 0.5;
  width: 2em; }

#up {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 2.5em; }

#work-content {
  width: 70%;
  margin: 0 auto;
  z-index: 2; }

#work-title {
  font-size: 2.250em; }

#d-brief {
  font-size: 1.250em; }
  #d-brief p {
    font-style: italic;
    line-height: 1.9em; }
  #d-brief span {
    font-style: normal; }

.mid-headings {
  padding-top: 1em;
  font-size: 1.500em; }

.sub-heading {
  font-size: 1.00em;
  font-weight: bold; }

.text-content, ul {
  font-size: 1.125em;
  text-align: justify;
  line-height: 1.7em; }

.center-photo {
  padding: 1em;
  text-align: center;
  margin: 0 auto; }
  .center-photo img {
    width: 100%; }

.center-photo-vertical {
  padding: 1em;
  text-align: center;
  margin: 0 auto; }
  .center-photo-vertical img {
    height: 100%;
    max-height: 500px; }

.dual-photos {
  padding: 1em;
  text-align: left;
  margin: 0 auto;
  display: block; }
  .dual-photos img {
    width: 45%;
    margin: 1%;
    display: inline-block; }

.filler-img {
  float: left;
  width: 100%;
  max-width: 500px;
  padding: 2em; }

blockquote {
  font-weight: bold;
  padding-left: 1em;
  border-left: 2px solid black;
  margin-left: 1em; }

.bold {
  font-weight: bold; }

.small-slider {
  margin: 2em 0; }

.ss-img-div {
  margin: 0 1em; }
  .ss-img-div img {
    width: 100%; }

/*
.slick-dots{

      text-align: center;
      display: block;
      padding: 0;
      width: 100%;
      margin: 0 auto;

  li{
    display: inline-block;
    button{
      background: none;
      border: none;
      font-size: 1.5em;
      color: #dddddd;
      &::before{
        content:'•';
      }
    }
  }
  .slick-active{
    button{color: #333333;}
  }
}
*/
.slick-arrow::before {
  color: black; }

footer {
  padding: 1em;
  background: red;
  width: 100%;
  bottom: 0;
  z-index: 10;
  position: fixed;
  background-color: white; }
  footer h3 {
    position: relative;
    left: 5%;
    display: inline-block; }
  footer ul {
    left: 50%;
    position: absolute;
    display: inline-block;
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin-right: 3vw;
      font-size: 1.125em; }

#modal-projects {
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: white;
  z-index: -5;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

#modal-project-list {
  top: 20%;
  position: relative; }

.modal-list-item {
  display: inline-block;
  padding: 3em; }
  .modal-list-item a {
    text-decoration: none;
    color: black; }
  .modal-list-item img {
    width: 100%;
    max-width: 500px; }
  .modal-list-item p {
    border-bottom: 1px solid #dddddd;
    padding: 2em 0;
    margin: 0; }

/* MEDIA QUERIES */
@media screen and (max-width: 980px) {
  body {
    font-size: 0.8em; }

  .dual-photos img {
    width: 100%; } }
@media screen and (max-width: 640px) {
  body {
    font-size: 0.6em; } }

/*# sourceMappingURL=content.css.map */
