@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@font-face {
  font-family: "Mark Words";
  src: url("../fonts/mark_my_words.ttf") format("truetype"); }
@font-face {
  font-family: "Projects Font";
  src: url("../fonts/project_font.otf") format("truetype"); }
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  background: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-family: "Projects Font", sans-serif;
  font-size: 1em;
  font-weight: normal; }

body {
  max-width: 1680px; }

header {
  padding: 1em;
  background: red;
  width: 100%;
  top: 0;
  z-index: 2;
  position: fixed;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.07);
  color: #474747;
  font-weight: normal; }
  header #logo-div {
    position: relative;
    vertical-align: middle;
    left: 10%;
    display: inline-block;
    padding: 0.5em; }
    header #logo-div img {
      width: 35px; }
  header h3 {
    position: relative;
    left: 10%;
    font-weight: normal;
    display: inline-block; }
  header ul {
    right: 10%;
    position: absolute;
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-top: 1em;
    vertical-align: middle; }
    header ul li {
      display: inline-block;
      margin-right: 3vw;
      font-size: 1em; }
      header ul li a {
        text-decoration: none;
        color: #000000; }
        header ul li a:link, header ul li a:visited header ul li a:hover header ul li a:active {
          color: #000000; }

#ham-div {
  display: none;
  position: fixed;
  right: 10%;
  opacity: 0;
  z-index: 10; }

#ham {
  cursor: pointer; }

#project-list {
  padding: 7em 0 0 0;
  width: 90%;
  margin: 0 auto;
  position: relative; }

.project {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5em 0;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px white solid;
  border-top: 1px white solid; }
  .project:hover {
    border-bottom: 1px red solid; }

.left {
  border-left: 1px white solid; }

.left:hover {
  border-left: 1px red solid; }

.right {
  border-right: 1px white solid; }

.right:hover {
  border-right: 1px red solid; }

.proj-info {
  display: inline-block;
  width: 49%;
  position: relative; }

.proj-thumb {
  display: inline-block;
  width: 49%;
  position: relative; }
  .proj-thumb img {
    width: 100%;
    max-width: 617px; }

.serial {
  color: #f5f5f5;
  margin-top: -10%;
  z-index: 0;
  font-size: 10em;
  position: absolute;
  font-family: "Mark Words", cursive; }

.read-more {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .read-more a {
    text-decoration: none;
    color: #E85849; }
  .read-more img {
    padding: 0.9em;
    vertical-align: middle; }

.project:hover .read-more {
  opacity: 1; }

.proj-title, .proj-desc, .proj-keys {
  position: relative;
  z-index: 1; }

.left .proj-info {
  margin-left: 10%;
  margin-right: 10%; }
.left .proj-thumb {
  margin-right: 10%; }
.left .serial {
  margin-left: -10%; }

.right .proj-info {
  margin-left: 10%;
  margin-right: 10%; }
.right .serial {
  margin-left: -10%; }
.right .proj-thumb {
  margin-left: 10%; }

.proj-title {
  font-size: 1.5em;
  font-family: "Abril Fatface", cursive;
  font-weight: normal; }

.proj-desc {
  line-height: 2em;
  font-size: 0.9em; }

.proj-keys {
  font-size: 0.8em;
  font-weight: lighter; }
  .proj-keys span {
    font-weight: bold; }

#gif {
  margin-right: 0;
  margin-left: 10%; }

.current-item {
  padding-bottom: 5px;
  border-bottom: 3px red solid; }

#modal-menu {
  opacity: 0;
  top: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #modal-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #modal-menu ul li {
      font-size: 2em;
      margin: 2em 0;
      font-weight: normal !important; }
      #modal-menu ul li a {
        text-decoration: none;
        color: black; }
  #modal-menu #close-div {
    position: relative;
    left: 80%;
    margin: 2.5em 0 0 0;
    cursor: pointer; }

@media screen and (max-width: 980px) {
  .proj-info {
    order: 1;
    width: 60%; }

  .proj-thumb {
    order: 2;
    width: 80%;
    margin-right: 0 !important;
    margin-left: 0 !important; }

  .project {
    flex-wrap: wrap;
    border-bottom: 1px white solid;
    border-left: 1px white solid;
    border-right: 1px white solid; }
    .project:hover {
      border-bottom: 1px white solid;
      border-left: 1px white solid;
      border-right: 1px white solid; }

  .read-more {
    opacity: 1; } }
@media screen and (max-width: 640px) {
  header ul {
    display: none; }

  .proj-info {
    width: 80%; }

  .proj-thumb {
    width: 90%; }

  #ham-div {
    margin-top: 1.4em;
    display: inline-block;
    position: absolute;
    right: 20%; }

  header #logo-div img {
    width: 25px; } }

/*# sourceMappingURL=project.css.map */
